<nav
  class="tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-16 tw-bg-white tw-border-solid tw-border-0 tw-border-b tw-border-gray-200 tw-z-10"
>
  <div
    class="tw-container tw-h-full tw-flex tw-justify-between tw-items-center"
  >
    <div
      class="tw-text-2xl md:tw-text-3xl tw-font-semibold tw-tracking-wide tw-text-blue-800"
    >
      EMS
    </div>

    <div
      class="tw-flex tw-items-center tw-space-x-4 tw-text-slate-800 tw-font-medium"
    >
      <span class="tw-text-sm md:tw-text-base">Welcome, Admin</span>
      <a routerLink="/">
        <i
          class="pi pi-sign-out tw-text-base md:tw-text-lg tw-cursor-pointer"
        ></i>
      </a>
    </div>
  </div>
</nav>
