main {
  width: 100%;
  height: 100vh;
  background-color: #34518c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  @apply tw-w-[500px] tw-bg-white tw-p-10 tw-rounded-xl;

  &__title {
    @apply tw-text-[20px] tw-font-semibold tw-text-center tw-mb-10;
  }
}