<main
  class="tw-w-full tw-h-screen tw-bg-[#34518c] tw-flex tw-justify-center tw-items-center tw-p-4"
>
  <div class="tw-w-[450px] tw-bg-white tw-p-6 md:tw-p-10 tw-rounded-xl">
    <h1 class="tw-text-[20px] tw-font-semibold tw-text-center tw-mb-10">
      Employee Management System
    </h1>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="tw-space-y-3 tw-mb-8">
        <!-- Username -->
        <div class="tw-flex tw-flex-col tw-gap-2">
          <label for="username">Username</label>
          <input
            pInputText
            id="username"
            formControlName="username"
            placeholder="Input your username"
          />
        </div>

        <!-- Password -->
        <div class="tw-flex tw-flex-col tw-gap-2">
          <label for="password">Password</label>
          <input
            pInputText
            id="password"
            type="password"
            formControlName="password"
            placeholder="Input your password"
            minlength="6"
            maxlength="8"
          />
        </div>
      </div>

      <p-button
        label="Sign In"
        type="submit"
        [disabled]="!loginForm?.valid"
        styleClass="tw-w-full"
      />
    </form>
  </div>
</main>
