<div class="tw-w-full tw-bg-white tw-p-6 md:tw-p-10 tw-rounded-xl">
  <h1 class="tw-text-xl tw-font-semibold tw-mb-5">Employee Lists</h1>

  <div
    class="tw-flex tw-flex-col md:tw-flex-row md:tw-items-center md:tw-justify-between tw-space-y-3 md:tw-space-x-3 tw-mb-5"
  >
    <a routerLink="/dashboard/users/add">
      <p-button label="Add Employee" size="small" icon="pi pi-plus" />
    </a>

    <!-- Search -->
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        id="search"
        placeholder="Search"
        [(ngModel)]="search"
        (keyup)="handleSearch()"
        class="tw-w-full"
      />
    </span>
  </div>

  <p-table
    [value]="dataEmployee"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 30, 50]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Group</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>
          <div class="tw-lowercase">{{ data.username }}</div>
        </td>
        <td>{{ data.firstName }} {{ data.lastName }}</td>
        <td>
          <div class="tw-lowercase">{{ data.email }}</div>
        </td>
        <td>
          <p-tag
            [severity]="data.status === 'active' ? 'primary' : 'danger'"
            [value]="data.status === 'active' ? 'Active' : 'Inactive'"
          />
        </td>
        <td>{{ data.group }}</td>
        <td>
          <div class="tw-flex tw-items-center tw-space-x-2">
            <p-button
              size="small"
              severity="warning"
              icon="pi pi-pencil"
              styleClass="tw-p-2 tw-w-[2.5rem]"
            />
            <p-button
              size="small"
              severity="danger"
              icon="pi pi-trash"
              styleClass="tw-p-2 tw-w-[2.5rem]"
            />
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Empty data -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="tw-text-center">No data found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
