// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// PrimeNg
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import "primeicons/primeicons.css";

// Custom primeNg
@import './assets/scss/custom-component.scss';

html, body {
  margin: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
a,
label {
  @apply tw-text-slate-800;
}

a {
  color: inherit;
  text-decoration: inherit;
}